<div class="page-primary-content">

    <form ng-submit="vm.signUp()">
        <div class="row">
            <div class="medium-6 columns"><strong><label for="username">Username</label></strong></div>
            <div class="medium-6 columns"><input type="text" id="username" ng-model="vm.user.UserName" /></div>
        </div>

        <br />

        <div class="row">
            <div class="medium-6 columns"><strong><label for="name">Name</label></strong></div>
            <div class="medium-6 columns"><input type="text" id="name" ng-model="vm.user.Name" /></div>
        </div>

        <br />

        <div class="row">
            <div class="medium-6 columns"><strong><label for="email">Email</label></strong></div>
            <div class="medium-6 columns"><input type="text" id="email" ng-model="vm.user.Email" /></div>
        </div>

        <br />

        <div class="row">
            <div class="medium-6 columns"><strong><label for="phone-number">Phone Number</label></strong></div>
            <div class="medium-6 columns"><input type="text" id="phone-number" ng-model="vm.user.PhoneNumber" /></div>
        </div>

        <br />

        <div class="row">
            <div class="medium-6 columns"><strong><label for="apartment">Apartment</label></strong></div>
            <div class="medium-6 columns"><select ng-model="vm.user.Apartment" ng-options="apartment.Name for apartment in vm.apartments"></select></div>
        </div>

        <br />

        <div class="row">
            <div class="medium-6 columns"><strong><label for="password">Password</label></strong></div>
            <div class="medium-6 columns"><input type="password" id="password" ng-model="vm.password" /></div>
        </div>

        <br />

        <div class="row">
            <div class="medium-12 columns"><input type="submit" value="sign up" /></div>
        </div>
    </form>

</div>