
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
  display: block;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover, a:active, a:focus, a:link, a:visited {
  outline: none;
}


input[type=text], input[type=password], input[type=email], select {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}