
#sidebar-page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: $navbar-height;
  overflow: hidden;
}

#page-wrapper {
  display: inline-block;
  position: relative;
  height:100%;
  width: 100%;
  overflow: hidden;
  transition: width 0.5s ease;
  transition: padding-left 0.5s ease;
}


.page-primary-content {
  width: 100%;
  padding: 1rem;
}


.loading {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-primary-content {
    width: 600px;
    padding: 0;
    margin: 2rem auto;
  }
}
@media (min-width: $laptop-width) {
  #page-wrapper {
    padding-left: $sidebar-width;
  }
}
@media (min-width: $desktop-width) {
  .page-primary-content {
    width: 720px;
  }
}