<div class="page-primary-content">

    <div ng-view>
</div>
<div>
    <form ng-submit="vm.addApartment()">
        <label for="Name">Name</label>
        <textarea name="Name" id="Name" ng-model="vm.data.Name" cols="8"></textarea>

        <label for="Latitude">Latitude</label>
        <textarea name="Latitude" id="Latitude" ng-model="vm.data.Latitude" cols="4"></textarea>

        <label for="Longitude">Longitude</label>
        <textarea name="Longitude" id="Longitude" ng-model="vm.data.Longitude" cols="4"></textarea>

        <button type="reset" class="btn btn-danger btn-large">cancel</button>

        <input type="submit" value="submit" />
    </form>

    </div>

</div>