<form ng-submit="vm.updateCarInfo()">
    <br />

    <div class="row">
        <div class="medium-3 columns">
    	   <label for="make" class="middle"><strong>Make</strong></label>
        </div>

        <div class="medium-9 columns">
    	   <input type="text" id="make" ng-model="vm.car.Make"/>
        </div>
    </div>

    <div class="row">
        <div class="medium-3 columns">
    	   <label for="model" class="middle"><strong>Model</strong></label>
        </div>

        <div class="medium-9 columns">
    	   <input type="text" id="model" ng-model="vm.car.Model"/>
        </div>
    </div>

    <div class="row">
        <div class="medium-3 columns">
    	   <label for="color" class="middle"><strong>Color</strong></label>
        </div>

        <div class="medium-9 columns">
    	   <input type="text" id="color" ng-model="vm.car.Color"/>
        </div>
    </div>

    <div class="row">
        <div class="medium-3 columns">
        	<label class="middle"><strong>Capacity</strong></label>
        </div>

        <div class="medium-9 columns">
        	<input type="text" disabled="disabled" ng-model="vm.car.Capacity"/>
        </div>
    </div>

    <div class="row">
        <div class="medium-3 columns">
            <label class="middle"><strong>License Plate</strong></label>
        </div>

        <div class="medium-9 columns">
            <input type="text" disabled="disabled" ng-model="vm.car.LicensePlate" />
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
    	   <button type="submit" class="button">Update Car Info</button>
        </div>
    </div>
</form>