<div id="sidebar-wrapper" class="sidebar" ng-class="{'sidebar-visible': vm.sidebar_visible}">
    <rs-role-group class="sidebar-profile-container">
        <div class="sidebar-profile-badge">
            Guest
        </div>
        <i class="sidebar-close-arrow fa fa-arrow-left" aria-hidden="true" ng-click="vm.hide_sidebar()"></i>
    </rs-role-group>

    <rs-role-group class="sidebar-profile-container" rs-roles="Unassigned, Rider, Driver, Admin">
        <div class="sidebar-profile-badge">
            {{vm.username}}
        </div>
        <i class="sidebar-close-arrow fa fa-arrow-left" aria-hidden="true" ng-click="vm.hide_sidebar()"></i>
    </rs-role-group>

    <div class="sidebar-scroll">
        <div class="sidebar-link-container">
            <a class="sidebar-link" ui-sref="welcome" ui-sref-active="sidebar_selected">
                Home
            </a>
        </div>

        <rs-role-group rs-roles="Admin">
            <div class="sidebar-category-header">
                Admin
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="user" ui-sref-active="sidebar_selected">
                    Manage Riders/Drivers
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="pendingUsers" ui-sref-active="sidebar_selected">
                    Manage Users
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="pendingDrivers" ui-sref-active="sidebar_selected">
                    Manage Pending Drivers
                </a>
            </div>
        </rs-role-group>

        <!-- Driver only -->
        <rs-role-group rs-roles="Driver">
            <div class="sidebar-category-header">
                Driving
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="driverRideIndex" ui-sref-active="sidebar_selected">
                    Schedule/View Rides
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="car" ui-sref-active="sidebar_selected">
                    View Car
                </a>
            </div>
        </rs-role-group>

        <!-- Riders and Drivers -->
        <rs-role-group rs-roles="Rider, Driver">
            <div class="sidebar-category-header">
                Rides
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="riderRideShow" ui-sref-active="sidebar_selected">
                    Show Rides
                </a>
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="viewRides" ui-sref-active="sidebar_selected">
                    Approved Rides
                </a>
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="requestRide" ui-sref-active="sidebar_selected">
                    Find a Ride
                </a>
            </div>
        </rs-role-group>

        <!-- Riders -->
        <rs-role-group rs-roles="Rider">
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="riderDriverRequest" ui-sref-active="sidebar_selected">
                    Request to Become a Driver
                </a>
            </div>
        </rs-role-group>

        <!-- All logged in roles -->
        <rs-role-group rs-roles="Unassigned, Rider, Driver, Admin">
            <div class="sidebar-category-header">
                Account
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="userProfileIndex" ui-sref-active="sidebar_selected">
                    View Profile
                </a>
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ng-click="vm.logout()">
                    Logout
                </a>
            </div>
        </rs-role-group>

        <!-- Logged out -->
        <rs-role-group>
            <div class="sidebar-category-header">
                Account
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="signup" ui-sref-active="sidebar_selected">
                    Register
                </a>
            </div>

            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="login" ui-sref-active="sidebar_selected">
                    Login
                </a>
            </div>
        </rs-role-group>

            <!-- <div class="sidebar-category-header">
                Users
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="user" ui-sref-active="sidebar_selected">
                    user directory
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="comment" ui-sref-active="sidebar_selected">
                        comments
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="addComment" ui-sref-active="sidebar_selected">
                        add comment
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="apartment" ui-sref-active="sidebar_selected">
                        apartments
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="addApartment" ui-sref-active="sidebar_selected">
                        add apartment
                </a>
            </div>    
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="car" ui-sref-active="sidebar_selected">
                    car
                </a>
            </div>   
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="message" ui-sref-active="sidebar_selected">
                    messages
                </a>
            </div>
            <div class="sidebar-link-container">
                <a class="sidebar-link" ui-sref="settings" ui-sref-active="nav_selected">
                    Settings
                </a>
            </div> -->
    </div>
</div>
<div id="sidebar-underlay" ng-class="{'sidebar-underlay-visible': vm.sidebar_visible && !vm.sidebar_always_visible }" ng-click="vm.toggle_sidebar()"></div>