
<div class="page-primary-content">


    <h1>schedules</h1>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Driver</th>
            <th>Riders</th>
            <th>Departure time</th>
            <th>Currently seated</th>
            <th>Capacity</th>
            <th>Vehicle</th>
        </tr>
        <tr ng-repeat="schedule in vm.schedules | limitTo:10 track by $index">
            <td>{{$index}}</td>
            <td>{{vm.users[$index].Name}}</td>
            <td>{{vm.users[$index].phoneNumber}}</td>
            <td>{{vm.users[$index].ApartmentDTO.Name}}</td>
            <td>{{vm.users[$index].Email}}</td>
            <td>{{vm.users[$index].AccountType}}</td>
            <td><div class="button" ng-click="vm.viewProfile($index)">view profile</div></td>
        </tr>
    </table>

</div>