<div class="row">
    <div class="medium-12 columns">
        <h1>{{ vm.title }}</h1>

        <div class="row" ng-show="vm.isLoadingData">
            <div class="medium-12 columns">
                Checking status...
            </div>
        </div>

        <div ng-hide="vm.isLoadingData">
            <div class="row">
                <div class="medium-6 columns"><strong>Departure Time</strong></div>
                <div class="medium-6 columns">{{ vm.data.ride.DepartureTime | rsTime }}</div>
            </div>

            <br />

            <h4>Approved Riders</h4>

            <div class="row" ng-hide="vm.data.approvedRiders.length > 0">
                <div class="medium-12 columns">
                    <em>You have not approved any riders for your ride.</em>
                </div>
            </div>

            <div class="row-table">
                <div class="row" ng-show="vm.data.approvedRiders.length > 0" ng-repeat="rider in vm.data.approvedRiders">
                    <div class="medium-12 columns"><div class="button-padding"><strong>Name:</strong> {{ rider.Name }}</div></div>
                </div>
            </div>

            <br />

            <h4>Unnapproved Riders</h4>

            <div class="row" ng-hide="vm.data.unnapprovedRiders.length > 0">
                <div class="medium-12 columns">
                    <em>There are no unnaproved riders signed up for your ride.</em>
                </div>
            </div>

            <div class="row-table">
                <div class="row" ng-show="vm.data.unnapprovedRiders.length > 0" ng-repeat="rider in vm.data.unnapprovedRiders">
                    <div class="medium-9 columns"><div class="button-padding"><strong>Name:</strong> {{ rider.Name }}</div></div>
                    <div class="medium-3 columns">
                        <form ng-submit="" rs-disable="vm.isSubmittingRequest">
                            <button ng-click="vm.approveRider($index)" ng-disabled="vm.isSubmittingRequest" class="button success">&#10003; Approve</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>