<!-- <div class="page-primary-content">
    <h1>{{ vm.title }}</h1>
    <table class="table table-striped">
        <tr>
            <th>Driver</th>
            <th>Phone Number</th>
            <th>Apartment Complex</th>
            <th>Departure Time</th>
            <th>Open Seats</th>

        </tr>
        <tr ng-repeat="ride in vm.data.rides | limitTo:10 track by $index">
            <td>{{vm.data.ride.Vehicle.Owner.Name}}</td>
            <td>{{vm.data.ride.Vehicle.Owner.PhoneNumber}}</td>
            <td>{{vm.data.ride.Vehicle.Owner.Apartment.Name}}</td>
            <td>{{vm.data.ride.DepartureTime}}</td>
            <td>{{vm.data.ride.Vehicle.Capacity - ride.NumberOfRidersInRide | number:0}}</td>
            <td>
                <div class="button" ng-click="vm.dropRide(ride)">Drop this ride</div>
            </td>
        </tr>
    </table>
</div> -->

<div class="row">
    <div class="medium-12 columns">
        <h1>{{ vm.title }}</h1>
    </div>
</div>

<div class="row" ng-show="vm.isLoadingData">
    <div class="medium-12 columns">
        <em>Loading your ride...</em>
    </div>
</div>

<div ng-hide="vm.isLoadingData">
    <div class="row-table">
        <div class="row">
            <div class="row">
                <div class="medium-6 columns">
                    <strong>Driver Name</strong>
                </div>

                <div class="medium-6 columns">
                    {{ vm.data.ride.Vehicle.Owner.Name }}
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="medium-6 columns">
                    <strong>Departure Time</strong>
                </div>

                <div class="medium-6 columns">
                    {{ vm.data.ride.DepartureTime }}
                </div>
            </div>

            <br/>
        </div>

        <div class="row">
            <div class="row">
                <div class="medium-12 columns">
                    <h3>Vehicle Info</h3>
                </div>
            </div>

            <div class="row">
                <div class="medium-6 columns">
                    <strong>Make</strong>
                </div>

                <div class="medium-6 columns">
                    {{ vm.data.ride.Vehicle.Make }}
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="medium-6 columns">
                    <strong>Model</strong>
                </div>

                <div class="medium-6 columns">
                    {{ vm.data.ride.Vehicle.Model }}
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="medium-6 columns">
                    <strong>Color</strong>
                </div>

                <div class="medium-6 columns">
                    {{ vm.data.ride.Vehicle.Color }}
                </div>
            </div>

            <br/>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
            <form rs-disable="vm.isSubmittingRequest" ng-submit="vm.dropRide(vm.data.ride)">
                <button class="button alert" ng-disabled="vm.isSubmittingRequest">Remove Ride</button>
            </form>
        </div>
    </div>
</div>