<div class="page-primary-content">
    <h1>Approved Rides</h1>
     <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>driver</th>
                <th>phone number</th>
                <th>appartment complex</th>
                <th>Open Seats</th>
                <th>riders</th>
            </tr>
            <tr ng-repeat="ride in vm.rides | limitTo:10 track by $index">
                <td>{{$index}}</td>
                <td>{{ride.RideDTO.DriverDTO.Name}}</td>
                <td>{{ride.RideDTO.DriverDTO.PhoneNumber}}</td>
                <td>{{ride.RideDTO.DriverDTO.ApartmentDTO.Name}}</td>
                <td>{{ride.RideDTO.CurrentlySeated}}</td>
                <td data-ng-repeat="rider in vm.riders">{{ride.RideDTO.RideRiderDTO.Name}}</td>
                <td><div class="button" ng-click="vm.viewProfile($index)">view profile</div></td>
                <td><div class="button" ng-click="vm.upgradeToDriver($index)" ng-show="user.AccountType == 'rider'">upgrade</div></td>
            </tr>
        </table>
</div>