#navbar {
  border-bottom: 3px solid #fff;
  display: flex;
  align-items: center;
  position: absolute;
  height: 96px;
  width: 100%;
  z-index: 25;
  background-color: #f26925; 
  }

#navbar .navbar-button {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer; 
  display: inline-flex;
  height: 3rem;
  justify-content: center;
  margin: 0 auto; 
  padding-right: 3em;
  width: 100%;
}

#navbar .navbar-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin: 0 .5rem; 
  cursor: pointer; 
  }

#navbar .navbar-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  line-height: 1; 
  color: white;
  }

#navbar .navbar-text {
  height: 2rem;
  font-size: 2rem;
  line-height: 1;
  color: white;
  }

.logo {
  background: url("../img/revashare-logo.png") no-repeat;
  border: inline-flex;
  height: 76px;
  margin: 0 auto;
  width: 240px;
}

@media (min-width: 992px) {
  #navbar .navbar-icon-button {
    display: none;
  }

  #navbar .navbar-button {
    margin: 0 .5rem;
    width: auto;
  }
}