html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

a:hover, a:active, a:focus, a:link, a:visited {
  outline: none; }

input[type=text], input[type=password], input[type=email], select {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px; }

input[type=submit] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

#sidebar-page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 4rem;
  overflow: hidden; }

#page-wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  transition: width 0.5s ease;
  transition: padding-left 0.5s ease; }

#page-wrapper>.row:first-child {
  margin-top: 1em;
}

.page-primary-content {
  width: 100%;
  padding: 1rem; }

.table-container {
  max-width: 100%;
  overflow-x: scroll;
}

.button-padding {
  border: 1px solid transparent;
  line-height: 1;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
}

.loading {
  display: none; }

@media (min-width: 768px) {
  .page-primary-content {
    width: 600px;
    padding: 0;
    margin: 2rem auto; } }

@media (min-width: 992px) {
  #page-wrapper {
    padding-left: 14rem; } }

@media (min-width: 1200px) {
  .page-primary-content {
    width: 720px; } }
