<!--
<nav id="navbar" class="menu">
    <div class="navbar-button-container">
        <a class="navbar-button" id="nav-button-open">
            <i class="navbar-button-icon material-icons" aria-hidden="true">menu</i>
        </a>
    </div>
    <div class="navbar-brand-container">
        <a class="navbar-brand" ui-sref="welcome" ui-sref-selected="nav_selected">
            Revashare
        </a>
    </div>
    <profile-badge></profile-badge>
</nav>
-->

<section id="navbar">
    <div class="navbar-icon-button">
        <i class="navbar-icon material-icons">menu</i>
    </div>
    <div class="navbar-icon-button">
        Revashare
    </div>
</section>