#navbar {
  display: flex;
  align-items: center;
  position: absolute;
  height: 4rem;
  width: 100%;
  background-color: orange; }

#navbar .navbar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 0 .5rem; }

#navbar .navbar-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin: 0 .5rem; }

#navbar .navbar-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  line-height: 1; }

#navbar .navbar-text {
  height: 2rem;
  font-size: 2rem;
  line-height: 1; }
