
<div class="page-primary-content">

    <h1>user information</h1>

    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>phone number</th>
            <th>appartment complex</th>
            <th>email</th>
            <th>role</th>
        </tr>
        <tr ng-repeat="user in vm.users | limitTo:10 track by $index">
            <td>{{$index}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.PhoneNumber}}</td>
            <td>{{user.ApartmentDTO.Name}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.AccountType}}</td>
            <td><div class="button" ng-click="vm.viewProfile($index)">view profile</div></td>
        </tr>
    </table>

</div>