
<div class="page-primary-content">

	<h1>user information</h1>
	<div class="table-container">
		<h3>Pending Drivers</h3>
		<table class="table table-striped">
			<tr>
				<th>
					<a href="" ng-click="vm.sort = 'Name'; vm.reverse = !vm.reverse">
						name
						<span ng-show="vm.sort == 'Name' && !vm.reverse" class="fa fa-caret-down"></span>
						<span ng-show="vm.sort == 'Name' && vm.reverse" class="fa fa-caret-down"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="vm.sort = 'phone'; vm.reverse = !vm.reverse">
						phone number
						<span ng-show="vm.sort == 'phone' && !vm.reverse" class="fa fa-caret-down"></span>
						<span ng-show="vm.sort == 'phone' && vm.reverse" class="fa fa-caret-down"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="vm.sort = 'apartment'; vm.reverse = !vm.reverse">
						apartment complex
						<span ng-show="vm.sort == 'apartment' && !vm.reverse" class="fa fa-caret-down"></span>
						<span ng-show="vm.sort == 'apartment' && vm.reverse" class="fa fa-caret-down"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="vm.sort = 'email'; vm.reverse = !vm.reverse">
						email
						<span ng-show="vm.sort == 'email' && !vm.reverse" class="fa fa-caret-down"></span>
						<span ng-show="vm.sort == 'email' && vm.reverse" class="fa fa-caret-down"></span>
					</a>
				</th>
				<th>
					<a href="" ng-click="vm.sort = 'role'; vm.reverse = !vm.reverse">
						role
						<span ng-show="vm.sort == 'role' && !vm.reverse" class="fa fa-caret-down"></span>
						<span ng-show="vm.sort == 'role' && vm.reverse" class="fa fa-caret-down"></span>
					</a>
				</th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="user in vm.pending | orderBy:vm.sort:vm.reverse | limitTo:10">
				<td>{{user.Name}}</td>
				<td>{{user.PhoneNumber}}</td>
				<td>{{user.ApartmentDTO.Name}}</td>
				<td>{{user.Email}}</td>
				<td>{{user.AccountType}}</td>
				<td><div class="button" ui-sref="userProfileIndex({username: user.UserName})">view profile</div></td>
				<td><div class="button" ng-click="vm.approveDriver(user)">upgrade</div></td>
			</tr>      
		</table>
	</div>
</div>