
<div class="page-primary-content">


    <h1>comments</h1>

    <div class="table-container">
        <table class="table table-striped">           
            <tr>
                <th>#</th>
                <th>driver</th>
                <th>rider</th>
                <th>type</th>
                <th>description</th>            
            </tr>
            <tr ng-repeat="comment in vm.comments | limitTo:10 track by $index">
                 <td>{{$index}}</td>
                <td>{{comment.driver}}</td>
                <td>{{comment.rider}}</td>
                <td>{{comment.type}}</td>
                <td>{{comment.description}}</td>               
                <!--<td><div class="button" ng-click="vm.comments($index)">view comment</div></td>-->
            </tr>
        </table>
    </div>  

 

</div>