
<div class="page-primary-content">
    
    <form>

        <div class="form-group">
            <label for="username-input">Username</label>
            <input type="text" id="username-input" class="form-control" ng-model="vm.loginForm.username"/>
        </div>

        <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" id="password-input" class="form-control" ng-model="vm.loginForm.password"/>
        </div>

        <input type="submit" ng-click="vm.login()" value="login" />

        <a href=''>
            forgot password
        </a>

    </form>
    
</div>

