
<div class="page-primary-content">
    <form>

        <div class="form-group">
            <label for="username-input">username</label>
            <input id="username-input" class="form-control" ng-model="vm.loginForm.username" type="text"/>
        </div>

        <div class="form-group">
            <label for="password-input">password</label>
            <input id="password-input" class="form-control" type="password" ng-model="vm.loginForm.password" type="text"/>
        </div>

            
        <input type="submit" class="btn btn-default" ng-click="vm.loginUser()" value="login as user" />
        <input type="submit" class="btn btn-default" ng-click="vm.loginAdmin()" value="login as admin" />

    </form>
</div>

